.modal {
    --bs-modal-width: 98%;
    
    .modal-dialog {
        height: calc(100% - 1rem);
        min-height: calc(100% - 1rem);
        margin: .5rem auto;
    }
    .modal-header {
        border: 0;
        padding: 2rem 4rem;

        .btn-close {
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color__white;
            padding: .5rem;
            opacity: 1;
            margin: 1rem;
        }
        .header-shape {
            max-width: 75%;
            user-select: none;
            pointer-events: none;
        }
        .brand-logo {
            width: 22rem;

            @include xxxl-up {
                width: 25rem;
            }
        }
    }
    .modal-content {
        border: 0;
        // background: linear-gradient(90deg, rgba(0,111,155,1) 0%, rgba(0,111,155,1) 52%, rgba(255,255,255,1) 100%);
        background: url(../images/modal-bg.png);
        background-size: cover;
        background-position: center;
    }

    .project-details {
        // display: grid;
        // grid-template-columns: repeat(2, minmax(0, 1fr));
        // gap: 4rem;
        padding: 0 4rem 4rem 6rem;
    }
    .project-info {
        color: $color__white;
        padding-right: 3rem;
        @include xxxl-up {
            padding-right: 4rem;
        }
        .project-name {
            font-weight: bold;
            &.ar {
                font-size: 6rem;
                line-height: 1.3;
                @include xxxl-up {
                    font-size: 5.4rem;
                }
            }
            &.en {
                font-size: 3.8rem;
                line-height: 1.3;

                @include xxxl-up {
                    max-width: 90%;
                    font-size: 3.4rem;
                }
            }
        }
        ul {
            margin-top: 2rem;
            list-style-type: disc;
            li {
                font-size: 2rem;
            }
            &.en {
                margin-left: 2rem;
            }
            &.ar {
                margin-right: 2rem;
                li {
                    font-size: 2.6rem;
                }
            }
        }
    }
    .gallary {
        position: sticky;
        top: 0rem;
    }
    .gallerySlider {
        .swiper-slide {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 8rem;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
                z-index: 1;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 8rem;
                background: rgb(255,255,255);
                background: linear-gradient(-90deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 100%);
                z-index: 1;
            }
            border: .6rem solid #00447C;
            img {
                width: 100%;
            }
        }

        .swiper-button-next, .swiper-button-prev {
            opacity: 1;
            &::after {
                font-size: 3rem;
                color: #5b5b5b;
            }
        }
    }
    .galleryThumbslider {
        margin-top: 1.5rem;
        .swiper-slide {
            border: .4rem solid #00447C;
            cursor: pointer;
            transition: all .2s ease;
            img {
                width: 100%;
            }
            &-thumb-active {
                border-color: #fff;
            }
        }
    }
}