/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
.barwa__home {
    position: fixed;
    inset: 0;
    .top__section {
        height: 25vh;
        display: flex;
        position: relative;
        justify-content: center;
        padding-top: 5rem;

        @include minwidth(2200px) {
            padding-top: 8rem;
        }

        @include minwidth(4000px) {
            padding-top: 12rem;
        }
        @include minwidth(6000px) {
            padding-top: 18rem;
        }
        .site__logo {
            position: absolute;
            right: 5%;
            width: 15vw;
            top: 50%;
            transform: translateY(-50%);
            @include minwidth(4000px) {
                width: 18vw;
            }

            img {
                width: 100%;
            }
        }
    }
    .middle__section {
        height: 60vh;
        display: flex;
        align-items: center;  
        justify-content: center;

        img {
            width: 100%;
        }
    }
    .bottom__section {
        height: 15vh;
        position: relative;
        .logo {
            width: 12vw;
            position: absolute;
            left: 8%;
            top: 50%;
            transform: translateY(-50%);

            @include minwidth(4500px) {
                top: 30%;
                width: 15vw;
            }
        }
    }



    .welcome__text {
        color: #00A7E1;
        .arabic {
            font-weight: bold;
            font-size: 9rem;
            line-height: 1;
            @include xxxl-up {
                font-size: 11rem;
            }  
            @include minwidth(3000px) {
                font-size: 15rem;
            }
            @include minwidth(4000px) {
                font-size: 22rem;
            }
            @include minwidth(4500px) {
                font-size: 25rem;
            }
            @include minwidth(6000px) {
                font-size: 30rem;
            }
        }
        .english {
            font-size: 4rem;
            font-weight: bold;
            @include xxxl-up {
                font-size: 6rem;
            }  
            @include minwidth(3000px) {
                font-size: 8rem;
            }
            @include minwidth(4000px) {
                font-size: 12rem;
            }
            @include minwidth(4500px) {
                font-size: 15rem;
            }
            @include minwidth(6000px) {
                font-size: 18rem;
            }
        }
    }
}

.presentation_wrapper {
    position: fixed;
    inset: 0;
    background: url(../images/slide-background.svg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 2vw;

    @include xxxl-up {
        grid-area: 4vw;
    }


    .left_block {
        padding: 15vh 0 5vh 3vw;
        @include xxl-up {
            width: 30vw;
            padding: 20vh 0 5vh 3vw;
        }
        .logo {
            max-width: 30rem;
            float: right;
            @include xxl-up {
                max-width: 35rem;
            }
        }
        .dropdown {

        }
    }
    .map_wrapper {
        max-width: 35vw;
        display: flex;
        align-items: center;

        img {
            border: .5rem solid $color__black;
            border-radius: 1rem;
        }

        map {
            area {
                outline: none;
            }
        }
    }
}